name: ordinal_formatter
description: Ordinal formatter is a simple tool to covert numbers into their localised ordinal form. Example "2" -> "2nd"
version: 0.1.5
homepage: https://github.com/ZsomborRajki/ordinal_formatter

environment:
  sdk: ">=3.0.0 <4.0.0"
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.1.6
  flutter_web_plugins:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  plugin:
    platforms:
      android:
        package: com.example.ordinal_formatter
        pluginClass: OrdinalFormatterPlugin
      ios:
        pluginClass: OrdinalFormatterPlugin
      web:
        pluginClass: OrdinalFormatterWeb
        fileName: ordinal_formatter_web.dart
