name: ordinal_formatter
description: Ordinal formatter in a simple tool to covert numbers into their localised ordinal form. Example "2" -> "2nd"
version: 0.0.2
homepage: https://github.com/ZsomborRajki/ordinal_formatter

environment:
  sdk: '>=2.19.2 <3.0.0'
  flutter: ">=2.5.0"

dependencies:
  flutter:
    sdk: flutter
  plugin_platform_interface: ^2.0.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.0

flutter:
  plugin:
    platforms:
      android:
        package: com.example.ordinal_formatter
        pluginClass: OrdinalFormatterPlugin
      ios:
        pluginClass: OrdinalFormatterPlugin